.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
lib/demo.html
lib/LSortByDrag.common.js
lib/LSortByDrag.common.js.map
lib/LSortByDrag.css
lib/LSortByDrag.umd.js
lib/LSortByDrag.umd.js.map
lib/LSortByDrag.umd.min.js
lib/LSortByDrag.umd.min.js.map
src/components/HelloWorld.vue
